//
//  Config.xcconfig
//  SpotifyClone
//
//  Created by Mike Phan on 2/6/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SPOTIFY_CLIENT_ID = 2f0ab59701454163ab32d6ca31475a32
SPOTIFY_CLIENT_SECRET = 15cb40e653bf411cae929ed6b1c43280
